@model UpdateAccountViewModel

@section title {
    <title>Update Account</title>
}

<div class="row">
    <div class="col">
        <h1>Update Account</h1>
        <form method="post">
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Type">Type</label>
                <select asp-for="Type" asp-items="Html.GetEnumSelectList(typeof(money.Entities.AccountType))" class="form-control">
                    <option value="">Please select...</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="StartingBalance">Starting balance</label>
                <input asp-for="StartingBalance" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DisplayOrder">Display order</label>
                <input asp-for="DisplayOrder" class="form-control" />
            </div>
            <div class="checkbox">
                <label>
                    <input asp-for="IncludeInNetWorth" /> Include balance in net worth
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input asp-for="IsDormant" /> Account is dormant
                </label>
            </div>
            <input asp-for="ID" />
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="ID" />
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>
