@model CreateMonthlyBudgetViewModel

@section title {
    <title>Create Monthly Budget</title>
}

<div class="row">
    <div class="col">
        <h1>Create Monthly Budget</h1>
        <h2>@Model.AccountName</h2>
        <form method="post">
            <div class="form-group">
                <label asp-for="StartDate">Start budget on</label>
                <editor for="StartDate" />
            </div>
            <div class="form-group">
                <label asp-for="EndDate">End budget on</label>
                <editor for="EndDate" />
            </div>
            <editor for="Categories" />
            <input type="hidden" asp-for="AccountID" />
            <button type="submit" class="btn btn-primary btn-submit">Create</button>
        </form>
    </div>
</div>
