@model UpdateCategoryViewModel

@{
    ViewBag.Title = "Update Category";
}

<div class="row">
    <div class="col-md-12">
        <h1>Update Category</h1>
        @using (Html.BeginForm())
        {
            <div class="form-group">
                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            </div>

            @Html.HiddenFor(x => x.ID)
            <button type="submit" class="btn btn-primary">Update</button>
        }

        @using (Html.BeginForm("Delete", "Categories"))
        {
            @Html.HiddenFor(x => x.ID)
            <button type="submit" class="btn btn-danger">Delete</button>
        }
    </div>
</div>