body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.row-account {
    margin-top: 10px;
    padding-top: 0;
    
    hr {
        margin-top: 0;
        margin-bottom: 10px;
    }

    h1 {
        margin: 0;
        font-size: 14px;
        font-weight: bold;
    }
}

.row-budget {
    margin-top: 5px;

    [class^="col-"]:first-child {
        padding-right: 0;
    }
}

.row-budget-lg {
    font-size: 2em;
}

.account-balance {
    font-weight: bold;
}

.progress {
    position: relative;
    margin-bottom: 0;
    height: 34px;

    span {
        line-height: 34px;
        position: absolute;
        top: 0;
        left: 15px;
    }
}

.category-name {
    font-weight: bold;
}

.category-remaining {
    font-weight: bold;
    left: auto;
    right: 15px;
    text-align: right;
}

.progress-bar {
    transition: background-color 3s cubic-bezier(0.910, 0.065, 0.950, 0.540);
}

.updated {
    transition: background-color 0 cubic-bezier(0.910, 0.065, 0.950, 0.540);
    background-color: #ff6a00;
}

.btn-height {
    display: inline-block;
    padding: 6px 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.42857143;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    background-image: none;
    border: 1px solid transparent;
}

.navbar-header .load-indicator {
    float: left;
    padding: 15px;
    line-height: 20px;
}

.modal-footer .load-indicator {
    float: left;
    padding-left: 5px;
}

.load-indicator-hidden {
    visibility: hidden;
}

.account-type-heading {
    font-size: 18px;
    font-weight: bold;
}

.dormant {
    background-color: #f3f9ff !important;
}

#net-worth {
    margin-top: 15px;

    hr {
        margin-top: 0;
    }
}

.net-worth-header {
    font-size: 11px;
    color: #969696;
    text-transform: uppercase;
    padding: 10px 0 2px 0;
    font-weight: bold;
}

.well.net-worth {
    padding: 10px 15px 15px 15px;
}

.net-worth-total {
    font-weight: bold;
}

.net-worth-balance {
    font-weight: bold;
}

.net-worth-total-balance {
    font-weight: normal;
    opacity: 0.6;
    padding-left: 20px;
    float: right;
}

.net-worth-balance-list {
    margin-top: 12px;
}

.net-worth-balance-list-hidden {
    display: none;
}

@media (min-width: 600px) {
    .container {
        width: 600px;
    }
}
