body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.row-account {
    margin-top: 10px;
    padding-top: 10px;
    border-top: solid 1px #e0e0e0;
}

.row-account h1 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.row-budget {
    margin-top: 5px;
}

.row-budget .btn-add-entry {
    margin-top: 4px;
}

.account-balance {
    font-weight: bold;
}

.progress {
    position: relative;
    margin-bottom: 0;
}

.category-name {
    font-weight: bold;
    font-size: 12px;
}

.category-spent {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 12px;
    line-height: 20px;
}

.category-remaining {
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 12px;
    line-height: 20px;
}

.btn-height {
    display: inline-block;
    padding: 6px 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.42857143;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}

.navbar-header .load-indicator {
    float: left;
    padding: 15px;
    line-height: 20px;
}

.modal-footer .load-indicator {
    float: left;
    padding-left: 5px;
}

.load-indicator-hidden {
    visibility: hidden;
}

.account-type-heading {
    font-size: 18px;
    font-weight: bold;
}
