$grid-gutter-width: 20px;

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.panel-group {
    margin-top: $grid-gutter-width;
}

.panel-group .panel-heading {
    padding: 0;
    position: relative;
}

.panel-title {
    font-weight: bold;

    .account-heading-view-toggle {
        display: block;
        text-decoration: none;
        padding: 10px 15px;
        position: relative;
        /*span {
            padding-left: $grid-gutter-width / 2;
            vertical-align: middle;
            font-size: 12px;
            position: absolute;
            text-align: right;
            top: 13px;
            right: 120px;
        }*/
    }

    .account-name {
        padding-left: 10px;
    }

    .account-balance {
    }

    .account-heading-add-entry {
        display: block;
        text-decoration: none;
        padding: 9px 15px;
        text-align: right;
        width: 150px;
        position: absolute;
        top: 0;
        right: 0;

        a {
            text-decoration: none;
        }
    }
}

.progress {
    margin-bottom: 8px;

    &:last-child {
        margin-bottom: 0;
    }
}

.category-name {
    font-weight: bold;
}

.category-spent {
    padding-left: $grid-gutter-width;
}

.category-remaining {
    font-weight: bold;
}