body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.panel-group {
    margin-top: 20px;
}

.panel-group .panel-heading {
    padding: 0;
    position: relative;
}

.panel-title {
    font-weight: bold;
}

.panel-title .account-heading-view-toggle {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    position: relative;
    /*span {
            padding-left: $grid-gutter-width / 2;
            vertical-align: middle;
            font-size: 12px;
            position: absolute;
            text-align: right;
            top: 13px;
            right: 120px;
        }*/
}

.panel-title .account-name {
    padding-left: 10px;
}

.panel-title .account-heading-add-entry {
    display: block;
    text-decoration: none;
    padding: 9px 15px;
    text-align: right;
    width: 150px;
    position: absolute;
    top: 0;
    right: 0;
}

.panel-title .account-heading-add-entry a {
    text-decoration: none;
}

.progress {
    margin-bottom: 8px;
}

.progress:last-child {
    margin-bottom: 0;
}

.category-name {
    font-weight: bold;
}

.category-spent {
    padding-left: 20px;
}

.category-remaining {
    font-weight: bold;
}
