@model CreateMonthlyBudgetViewModel

@{
    ViewBag.Title = "Create Monthly Budget";
}

<div class="row">
    <div class="col-md-12">
        <h1>Create Monthly Budget</h1>
        @using (Html.BeginForm("Create", "MonthlyBudgets"))
        {
            @Html.EditorForModel()
            @Html.EditorFor(x => x.Categories)
            <input type="submit" value="Create" />
        }
    </div>
</div>