@model ListMonthlyBudgetsViewModel

@{
    ViewBag.Title = "Monthly Budgets";
}

<div class="row">
    <div class="col-md-12">
        <h1>Monthly Budgets</h1>
        @foreach(var monthlyBudget in Model.MonthlyBudgets)
        {
            <p>@monthlyBudget.StartDate - @monthlyBudget.EndDate @Html.ActionLink("Edit", "Update", new { id = monthlyBudget.ID })</p>
        }
        @Html.ActionLink("New", "Create", new { id = Model.AccountID })
    </div>
</div>