@model CreateCategoryViewModel

@section title {
    <title>Create Category</title>
}

<div class="row">
    <div class="col">
        <h1>Create Category</h1>
        <form asp-controller="Categories" asp-action="Create" method="post">
            <div class="mb-2">
                <label asp-for="AccountID" class="form-label">Account</label>
                <select asp-for="AccountID" asp-items="Model.Accounts" class="form-select">
                    <option value="">Please select...</option>
                </select>
                <span asp-validation-for="AccountID"></span>
            </div>
            <div class="mb-4">
                <label asp-for="Name" class="form-label">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-submit">Create</button>
        </form>
    </div>
</div>
