@model ListCategoriesViewModel

@section title {
    <title>Categories</title>
}

<div class="row">
    <div class="col">
        <h1>Categories</h1>
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th class="text-right"><span class="sr-only">Edit</span></th>
                </tr>
            </thead>
            @foreach (var accountGroup in Model.Categories)
            {
                <thead class="thead-dark">
                    <tr>
                        <th colspan="2">@accountGroup.Key</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in accountGroup)
                    {
                        <tr>
                            <td class="align-middle">@category.Name</td>
                            <td class="text-right"><a asp-action="Update" asp-route-id="@category.ID" class="btn btn-primary btn-sm">Edit</a></td>
                        </tr>
                    }
                </tbody>
            }
        </table>
        <p><a asp-action="Create" class="btn btn-primary btn-new">Add New Category</a></p>
    </div>
</div>
