@model UpdateCategoryViewModel

@section title {
    <title>Update Category</title>
}

<div class="row">
    <div class="col">
        <h1>Update Category</h1>
        <form method="post">
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <form asp-action="Delete" method="post" class="delete-form">
            <input type="hidden" asp-for="ID" />
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>
