@model UpdateCategoryViewModel

@section title {
    <title>Update Category</title>
}

<div class="row">
    <div class="col">
        <h1>Update Category</h1>
        <form asp-controller="Categories" asp-action="Update" method="post">
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-submit">Update</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <form asp-controller="Categories" asp-action="@(Model.IsDeleted ? "Undelete" : "Delete")" method="post" class="delete-form">
            <input type="hidden" asp-for="ID" id="Delete_ID" />
            <button type="submit" class="btn btn-danger">@(Model.IsDeleted ? "Undelete" : "Delete")</button>
        </form>
    </div>
</div>
