$horizontal-gutter: 10px;
$horizontal-gutter-double: $horizontal-gutter * 2;
$vertical-gutter: 10px;
$vertical-gutter-half: $vertical-gutter / 2;
$vertical-gutter-double: $vertical-gutter * 2;
$divider-border: solid 1px #e0e0e0;
$progress-bar-height: 38px;
$progress-bar-padding: 14px;
