@import "font";
@import "variables";
@import "account";

body {
    font-family: 'Public Sans', Arial, sans-serif;
    font-weight: 500;
}

.body-content {
    padding-top: $vertical-gutter-double;
    padding-bottom: $vertical-gutter-double + $vertical-gutter;
}

.form-group-nolabel {
    padding-top: 32px;
}

.btn-submit, .btn-new {
    margin-top: $vertical-gutter-double;
}

.delete-form {
    padding-top: $vertical-gutter-double + $vertical-gutter;
}

.entry-edit {
    padding-left: 10px;
}

.entry-edit, .entry-edit a {
    color: #999;
}

.table-sm td, .table-sm th {
    padding-left: .75rem;
    padding-right: .75rem;
}

#net-worth h1 {
    font-size: 18px;
    font-weight: bold;
}

.net-worth-header {
    font-size: 12px;
    color: #969696;
    text-transform: uppercase;
    padding: 0 0 2px 0;
    font-weight: bold;
    margin: 12px 0 5px 0;
}

.net-worth-total {
    font-weight: bold;
}

.net-worth-balance {
    font-weight: bold;
}

.net-worth-total-balance {
    font-weight: normal;
    opacity: 0.6;
    float: right;
}

.spinner-border-hidden {
    display: none;
}

.field-validation-error {
    color: #cc0000;
    font-size: 0.8rem;
}

.last-4 {
    color: #cecece;
    font-size: 0.8rem;
    margin-left: 8px;
}

.soft-deleted {
    color: #999;
    text-decoration: line-through;
}

.entry-modal-type-info {
    color: #999;
    display: inline-block;
    padding-top: 4px;
    font-size: 0.8em;

    > span {
        margin-left: 5px;
    }
}

.drag-ghost {
    background-color: #feff81 !important;

    td {
        border-color: #424242 !important;
    }

    + tr td {
        border-color: #424242 !important;
    }
}

.sortable-rows {
    td:first-child {
        width: 100%;
    }

    .drag-handle {
        cursor: move;
        display: block;
        padding: 3px 5px;
    }
}

@media (min-width: 600px) {
    .container {
        width: 600px;
    }
}
