<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.webServer>
        <rewrite xdt:Transform="Replace">
            <rules>
                <rule name="CanonicalHTTPSHostName">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAny">
                        <!--<add input="{HTTP_HOST}" pattern="^localhost$" negate="true" />-->
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://apps.markb.uk/{R:1}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>