@model LoginViewModel

@section title {
    <title>Log In</title>
}

<div class="row">
    <div class="col">
        <h1>Log In</h1>
        <form asp-controller="Users" asp-action="Login" method="post" class="needs-validation" novalidate>
            <div class="mb-2">
                <label asp-for="Email" class="form-label">Email Address</label>
                <input asp-for="Email" class="form-control" required>
                <div class="invalid-feedback">Please enter an email address</div>
            </div>
            <div class="mb-4">
                <label asp-for="Password" class="form-label">Password</label>
                <input asp-for="Password" class="form-control" required>
                <div class="invalid-feedback">Please enter a password</div>
            </div>
            <button type="submit" class="btn btn-primary">Log In</button>
        </form>
    </div>
</div>
