@model ListPartiesViewModel

@section title {
    <title>Parties</title>
}

<div class="row">
    <div class="col">
        <h1>Parties</h1>
        <table class="table table-sm table-striped">
            <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th class="text-center">Edit</th>
                </tr>
            </thead>
            @foreach (var partyGroup in Model.Parties)
            {
                <thead class="thead-dark">
                    <tr>
                        <th colspan="2">@partyGroup.Key</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var party in partyGroup)
                    {
                        <tr>
                            <td>@party.Name</td>
                            <td class="text-center"><a asp-action="Update" asp-route-id="@party.ID">Edit</a></td>
                        </tr>
                    }
                </tbody>
            }
        </table>
        <p><a asp-action="Create">New</a></p>
    </div>
</div>
