@model ListPartiesViewModel

@section title {
    <title>Parties</title>
}

<div class="row">
    <div class="col">
        <h1>Parties</h1>
        <p><a asp-action="Index" asp-route-showDeleted="true">Show Deleted</a></p>

        @foreach (var partyGroup in Model.Parties)
        {
            var (accountID, accountName) = partyGroup.Key;

            <table class="table table-striped table-borderless">
                <thead class="table-dark">
                    <tr>
                        <th class="align-middle">@accountName</th>
                        <th class="text-end"><a asp-action="Create" asp-route-id="@accountID" class="btn btn-primary btn-sm">Add</a></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var party in partyGroup)
                    {
                        <tr>
                            <td class="align-middle">@party.NameWithDeletedStatus()</td>
                            <td class="text-end"><a asp-action="Update" asp-route-id="@party.ID" class="btn btn-primary btn-sm">Edit</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        <p><a asp-action="Create" class="btn btn-primary btn-new">Add New Party</a></p>
    </div>
</div>
