@model CreateEntryViewModel

@{
    Layout = null;

    var isCredit = Model.IsCredit ?? false;
}

<form asp-controller="Entries" asp-action="Create" method="post">
    <input type="hidden" asp-for="AccountID" />
    <div class="row">
        <div class="mb-2 col-md-4">
            <label asp-for="Amount" class="form-label">
                @if (isCredit)
                {
                    <span class="d-none d-sm-inline">Credit Amount</span>
                    <span class="d-sm-none">Credit</span>
                }
            </label>
            <editor for="Amount" />
            <span asp-validation-for="Amount"></span>
        </div>
        <div class="mb-2 nolabel col-md-8">
            @if (!isCredit)
            {
                <div class="btn-group d-flex" role="group">
                    <button type="button" class="btn btn-light btn-amount-preset" data-amount="-5.00">-5</button>
                    <button type="button" class="btn btn-light btn-amount-preset" data-amount="-10.00">-10</button>
                    <button type="button" class="btn btn-light btn-amount-preset" data-amount="-20.00">-20</button>
                    <button type="button" class="btn btn-light btn-amount-preset btn-amount-preset-all" data-amount="@Model.Remaining.ToString("0.00")" @(Model.Remaining == 0 ? "disabled" : "")>All</button>
                </div>
            }
        </div>
    </div>
    @if (Model.Types.Count() == 1)
    {
        <input type="hidden" asp-for="Type" />
    }
    else
    {
        <div class="mb-2">
            <label asp-for="Type" class="form-label">Transaction Type</label>
            <select asp-for="Type" asp-items="Model.Types" class="form-select"></select>
            <span class="entry-modal-type-info"></span>
        </div>
    }
    <div class="row">
        <div class="mb-2 col-md-7">
            <label asp-for="Date" class="form-label">Date</label>
            <editor for="Date" />
            <span asp-validation-for="Date"></span>
        </div>
        <div class="mb-2 nolabel col-md-5">
            <button class="btn btn-light w-100 btn-date-preset" data-date="@DateTime.Now.Date.AddDays(-1).ToString("yyyy-MM-dd")">Yesterday</button>
        </div>
    </div>
    @if (Model.ShowCategorySelector)
    {
        <div class="mb-2">
            <label asp-for="CategoryID" class="form-label">Category</label>
            <select asp-for="CategoryID" asp-items="Model.Categories" class="form-select">
                <option value="">--</option>
            </select>
        </div>
    }
    else
    {
        <input type="hidden" asp-for="CategoryID" />
    }
    <div class="mb-2">
        <label asp-for="PartyID" class="form-label">Party</label>
        <select asp-for="PartyID" asp-items="Model.Parties" class="form-select">
            <option value="">--</option>
        </select>
    </div>
</form>
