@model CreateEntryViewModel

@{
    Layout = null;

    var isCredit = Model.IsCredit ?? false;
}

<form asp-action="Create" asp-controller="Entries" method="post">
    <input type="hidden" asp-for="AccountID" />
    @if (Model.Types.Count() == 1)
    {
        <input type="hidden" asp-for="Type" />
    }
    else
    {
        <div class="form-group">
            <label asp-for="Type">Transaction Type</label>
            <select asp-for="Type" asp-items="Model.Types" class="form-control"></select>
        </div>
    }
    <div class="row">
        <div class="form-group col-sm-5">
            <label asp-for="Amount">@(isCredit ? "Credit Amount" : "Amount")</label>
            <editor for="Amount" />
        </div>
        <div class="form-group-nolabel col-sm-7">
            @if (!isCredit)
            {
                <div class="btn-group d-flex" role="group">
                    <button type="button" class="btn btn-light btn-amount-preset" data-amount="-10.00">£10</button>
                    <button type="button" class="btn btn-light btn-amount-preset" data-amount="-20.00">£20</button>
                    <button type="button" class="btn btn-light btn-amount-preset" data-amount="@Model.Remaining.ToString("0.00")" @(Model.Remaining == 0 ? "disabled" : "")>All</button>
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-7">
            <label asp-for="Date">Date</label>
            <editor for="Date" />
        </div>
        <div class="form-group-nolabel col-sm-5">
            <button class="btn btn-light btn-block btn-date-preset" data-date="@DateTime.Now.Date.AddDays(-1).ToString("yyyy-MM-dd")">Yesterday</button>
        </div>
    </div>
    @if (Model.ShowCategorySelector)
    {
        <div class="form-group">
            <label asp-for="CategoryID">Category</label>
            <select asp-for="CategoryID" asp-items="Model.Categories" class="form-control">
                <option value="">--</option>
            </select>
        </div>
    }
    else
    {
        <input type="hidden" asp-for="CategoryID" />
    }
    <div class="form-group">
        <label asp-for="PartyID">Party</label>
        <select asp-for="PartyID" asp-items="Model.Parties" class="form-control">
            <option value="">--</option>
        </select>
    </div>
</form>
