@model UpdateEntryViewModel

@section title {
<title>Update Entry</title>
}

<div class="row">
    <div class="col">
        <h1>Update Entry</h1>
        <form asp-controller="Entries" asp-action="Update" method="post">
            <div class="form-row">
                <div class="form-group col-5">
                    <label asp-for="Amount">Amount</label>
                    <editor for="Amount" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-7">
                    <label asp-for="Date">Date</label>
                    <editor for="Date" />
                </div>
                <div class="form-group-nolabel col-5">
                    <button class="btn btn-light btn-block btn-date-preset" data-date="@DateTime.Now.Date.AddDays(-1).ToString(" yyyy-MM-dd")">Yesterday</button>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CategoryID">Category</label>
                <select asp-for="CategoryID" asp-items="Model.Categories" class="form-control">
                    <option value="">--</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="PartyID">Party</label>
                <select asp-for="PartyID" asp-items="Model.Parties" class="form-control">
                    <option value="">--</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary btn-submit">Update</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <form asp-controller="Entries" asp-action="Delete" method="post" class="delete-form">
            <input type="hidden" asp-for="ID" id="Delete_ID" />
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>
