@model MonthlyBudgetCategoryViewModel

@{ 
    var fieldID = Html.GenerateIdFromName(ViewData.TemplateInfo.GetFullHtmlFieldName(nameof(Model.CategoryID)));
}

<div class="form-group">
    <label for="@fieldID" class="col-sm-5 control-label">@Model.Name</label>
    <div class="col-sm-4">
        @Html.HiddenFor(x => x.CategoryID)
        @Html.EditorFor(x => x.Amount)
    </div>
</div>